.azgaar-foundry {
    --color-text-dark-primary: #191813;
    --color-border-light-highlight: #f0f0e0;
    --color-shadow-highlight: #ff6400;
}

#azgaar-foundry .form-group .notes {
    color: var(--color-text-primary);
}

#azgaar-icon-select span,
#azgaar-map-select span,
#azgaar-pin-fixer-select span {
    text-align: center;
}

#azgaar-pin-fixer-select input {
    padding: 0px 10px 0px 10px;
}

#azgaar-foundry .tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
}

#azgaar-foundry .tooltip .tooltiptext {
    visibility: hidden;
    width: 200px;
    background-color: #f1f0ec;
    color: black;
    border-radius: 1px;
    padding: 5px;
    line-height: 1;
    padding-top: 3px;
    border-style: double;
    font-style: normal;
    font-weight: normal;
    font-family: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
    font-size: 14px;

    /* Position the tooltip */
    position: absolute;
    z-index: 1;
}

#azgaar-foundry .tooltip .tooltiptext.left {
    top: 0px;
    right: 105%;
}

#azgaar-foundry .tooltip:hover .tooltiptext {
    visibility: visible;
}

.azgaar-foundry .sheet-tabs {
    flex: 0 0 32px;
    line-height: 32px;
    font-size: 2em;
    border-bottom: 1px solid var(--color-border-dark);
}

.azgaar-foundry .content {
    margin-top: 1%;
}

.azgaar-foundry .container {
    height: 100%;
    min-height: 100%;
    margin: 0 auto;
    list-style: none;
}

#azgaar-foundry .container #permission-groups div:first-child div li:first-child > label {
    border: 2px groove var(--color-border-light-highlight);
}

#azgaar-foundry #permission-groups li {
    list-style: none;
}

#azgaar-foundry .button-label {
    background: rgba(0, 0, 0, 0.1);
    border: 2px groove var(--color-border-light-highlight);
    border-left: 0px;
    display: inline-block;
    font-size: var(--font-size-14);
    font-family: var(--font-primary);
    line-height: 28px;
    margin: 0px;
    text-align: center;
    width: 100%;
}

#azgaar-foundry .hidden {
    display: none;
}

#azgaar-foundry input:checked + .button-label {
    background-color: var(--color-shadow-highlight);
    background-color: #ff640066;
    box-shadow: inset 0 0 3px #000000cc;
}

#azgaar-foundry .container #permission-groups div div {
    margin-bottom: 1em;
}

#azgaar-foundry .container #permission-groups div span {
    width: 100%;
    text-align: center;
    display: inline-block;
    border-top: 1px solid rgba(0, 0, 0, 0.25);
    margin-top: 0.5rem;
    padding-top: 0.5rem;
    margin-bottom: 0.5rem;
}

/* .azgaar-foundry #mapsize {
    padding-top: 0.5em;
    padding-bottom: 0.5em;
}

.azgaar-foundry #mapsize .flexrow {
    padding-right: 0.5em;
}

#azgaar-foundry .form-group {
    margin-bottom: 1rem;
} */
