<form>
    <h2>There are a couple of steps to export a map</h2>
    <ol>
        <li>
            <h3>Save and link to the .map file</h3>
            <input type="file"><- Link to .map file</input>
        </li>
        <li>
            <h3>Save and link the .png file</h3>
            <p>Make sure you have the full map visible in the screen.
                The PNG export saves exactly what you can see on your screen
                in the viewer. If you would like to see burg names, please
                make sure you can see them in the viewer. Reccomended to save
                at a minimum of 3x scale.
            </p>
            <input type="file"><- Link to .png file</input>
        </li>
    </ol>
    <button type="submit">Import</button>
</form>