<form>
  {{#each legends as | legend |}}
    <div style="display: flex; flex: 1 1 auto; border-bottom: 2px solid #782e22; align-items: flex-end">
      <img src="{{legend.img}}" style="width: 60px; height: 60px; flex-basis: 60px; border: 0;"></img>
    <span style="flex-basis: 80%; padding-left: 10px; font-size: 2em; text-align: center;">
      {{legend.name}}
    </span>
    <span style="margin-right: 0px; text-align: center; font-size: 1.5em;">Legendary {{localize "DND5E.ActionPl"}} <span id="remainingLegActions">{{legend.remainingLegActions}}</span>/{{legend.maxLegActions}}</span>
  </div>
    <ul>
      {{#each legend.legendaryItems as | attack |}}
        <li style="display: flex; flex: 0 1 auto;">
        <button type="button" name="{{legend._id}}" id="{{attack.name}}" style="display: flex;">
          <span style="flex: 1;">{{attack.name}}</span>
          <span style="flex-basis: 100px; margin-left: auto;">{{attack.data.consume.amount}} {{localize "DND5E.Action"}}</span>
        </button>
      </li>
      {{/each}}
    </ul>
  {{/each}}
</form>