<div id="permissions" class="tab standard-form {{tab.cssClass}}" data-group="sheet" data-tab="permissions">
    <section class="form-group">
        <div id="azgaar-permissions-select" class="container">\
            <h2>Permissions for Journal Entries / Map Notes</h2>
            <div class="flexrow">
                <span style="flex-basis: 70%">
                    More info on permissions here:
                    <a href="https://foundryvtt.com/article/users/">User Permissions</a>
                </span>
                <button type="button" id="permissionDefaults">Reset Permissions</button>
            </div>
            <div id="permission-groups">
                <div id="provinces">
                    <span><b>Provinces</b></span>
                    <div class="flexrow">
                        <li>
                            <input type="radio" name="permissionProvince" id="permission0" value="0" class="hidden" />
                            <label for="permission0" class="button-label">None</label>
                        </li>
                        <li>
                            <input type="radio" name="permissionProvince" id="permission1" value="1" class="hidden" />
                            <label for="permission1" class="button-label">Limited</label>
                        </li>
                        <li>
                            <input
                                type="radio"
                                name="permissionProvince"
                                id="permission2"
                                value="2"
                                checked
                                class="hidden"
                            />
                            <label for="permission2" class="button-label">Observer</label>
                        </li>
                        <li>
                            <input type="radio" name="permissionProvince" id="permission3" value="3" class="hidden" />
                            <label for="permission3" class="button-label">Owner</label>
                        </li>
                    </div>
                </div>
                <div id="countries">
                    <span><b>Countries</b></span>
                    <div class="flexrow">
                        <li>
                            <input type="radio" name="permissionCountry" id="permission4" value="0" class="hidden" />
                            <label for="permission4" class="button-label">None</label>
                        </li>
                        <li>
                            <input type="radio" name="permissionCountry" id="permission5" value="1" class="hidden" />
                            <label for="permission5" class="button-label">Limited</label>
                        </li>
                        <li>
                            <input
                                type="radio"
                                name="permissionCountry"
                                id="permission6"
                                value="2"
                                checked
                                class="hidden"
                            />
                            <label for="permission6" class="button-label">Observer</label>
                        </li>
                        <li>
                            <input type="radio" name="permissionCountry" id="permission7" value="3" class="hidden" />
                            <label for="permission7" class="button-label">Owner</label>
                        </li>
                    </div>
                </div>
                <div id="burgs">
                    <span><b>Burgs</b></span>
                    <div class="flexrow">
                        <li>
                            <input type="radio" name="permissionBurg" id="permission8" value="0" class="hidden" />
                            <label for="permission8" class="button-label">None</label>
                        </li>
                        <li>
                            <input type="radio" name="permissionBurg" id="permission9" value="1" class="hidden" />
                            <label for="permission9" class="button-label">Limited</label>
                        </li>
                        <li>
                            <input
                                type="radio"
                                name="permissionBurg"
                                id="permission10"
                                value="2"
                                checked
                                class="hidden"
                            />
                            <label for="permission10" class="button-label">Observer</label>
                        </li>
                        <li>
                            <input type="radio" name="permissionBurg" id="permission11" value="3" class="hidden" />
                            <label for="permission11" class="button-label">Owner</label>
                        </li>
                    </div>
                </div>
                <div id="markers">
                    <span><b>Markers</b></span>
                    <div class="flexrow">
                        <li>
                            <input type="radio" name="permissionMarker" id="permission12" value="0" class="hidden" />
                            <label for="permission12" class="button-label">None</label>
                        </li>
                        <li>
                            <input type="radio" name="permissionMarker" id="permission13" value="1" class="hidden" />
                            <label for="permission13" class="button-label">Limited</label>
                        </li>
                        <li>
                            <input
                                type="radio"
                                name="permissionMarker"
                                id="permission14"
                                value="2"
                                checked
                                class="hidden"
                            />
                            <label for="permission14" class="button-label">Observer</label>
                        </li>
                        <li>
                            <input type="radio" name="permissionMarker" id="permission15" value="3" class="hidden" />
                            <label for="permission15" class="button-label">Owner</label>
                        </li>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>